# Ignore all files
*
*/
**/*
!.gitignore


# Keep all .py files
!*.py
!**/*.py

# Keep only saved midi files
!runs/*.mid

# Keep important files
!README.md
!requirements.txt

# Add dockerfiles
!docker-compose.yml
!Dockerfile

